aioice==0.7.5
aiortc==1.2.0
av==8.0.3
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
crc32c==2.2
cryptography==3.4.6
dataclasses==0.6
dnspython==2.1.0
dpcontracts==0.6.0
Flask==1.1.2
forbiddenfruit==0.1.4
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
loguru==0.5.3
MarkupSafe==1.1.1
mysql-connector==2.2.9
nest-asyncio==1.5.1
netifaces==0.10.9
numpy==1.20.1
packaging==20.9
paho-mqtt==1.5.1
pandas==1.2.3
Pillow==8.1.2
protobuf==3.15.6
pycparser==2.20
pyee==8.1.0
pylibsrtp==0.6.8
PyNaCl==1.4.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.1
six==1.15.0
sqlitedict==1.7.0
syft==0.3.0
torch==1.8.0
torchvision==0.9.0
typeguard==2.11.1
typing-extensions==3.7.4.3
urllib3==1.26.4
websockets==8.1
Werkzeug==1.0.1
